<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">  
  <main>
    
    
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">



              <%= render 'users/userinfo', user: @user %>
              <%= render 'books/form', book: @book %>
  
        </div>
        <div class="col-md-8 offset-md-1">
              <h2>Book detail</h2>
            <table class="table">
                <tbody>
                  <tr>
                    <th><%= image_tag @user.profile_image, size: "100x100" %><br>
                    <%= link_to @user.name, user_path(@user) %></th>
                    
                    <th><%= link_to @book.title, book_path(@book) %></th>
                    <th><%= @book.body %></th>
                    <% if @book.user == current_user %>
                      <th><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></th>
                      <th><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger" %></th>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                  </tr>
                </tbody> 
            </table>
        </div>
          
          
      </div>    
    </div> 
  </main>
</html>  
 

